doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    // Material Design fonts
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700')
    
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/icon?family=Material+Icons')
    // Bootstrap
    
    link(rel='stylesheet', type='text/css', href='/content/bower_components/bootstrap/dist/css/bootstrap.css')
    // Bootstrap Material
    link(rel='stylesheet', type='text/css', href='/content/bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.css')
    
    link(rel='stylesheet', type='text/css', href='/content/bower_components/bootstrap-material-design/dist/css/ripples.min.css')

    // Custom styles
    link(rel='stylesheet', type='text/css', href='/content/app/styles/footer.css')        
    link(rel='stylesheet', type='text/css', href='/content/app/styles/form.css')        
    link(rel='stylesheet', type='text/css', href='/content/app/styles/spinner.css')

    // Require.js
    script(src='/content/bower_components/requirejs/require.js')    
    script(src='/content/app/require.config.js')

    block styles
    
    title #{title}
  body
    .content-wrapper
      header.bs-component
        .navbar.navbar-inverse
            .navbar-header
                span.navbar-brand Autoconspect
      .container
        #main-view
          // ko template: 'page-template'
          // /ko
    footer.footer.panel.panel-default
        .panel-body
            | 2016 Autoconspect. Andrei Hryhoryeu, 6M2311

    block scripts
