<form class="form-horizontal">
    <!-- ko foreach: fieldsets -->
    <div data-bind="component: {name: $data.name, params: $data.params}"></div>
    <!-- /ko -->
    <div class="form-group">
        <!-- ko foreach: actions -->
        <button class="btn btn-group" data-bind="text: text, click: onAction, css: css"></button>
        <!-- /ko -->
    </div>
</form>