<div class="conspects-page">
    <h2 class="page-header">All conspects</h2>

    <div class="conspects-list" data-bind="foreach: conspects.items">
        <conspect-item params="viewModel: $data,
                               onDeleteConspect: $parent.remove.bind($parent)"></conspect-item>
    </div>
    <!-- ko ifnot: hasItems -->
    <div class="well">
        <span>No conspects created.</span>
    </div>
    <!-- /ko -->
    
    <!-- ko ifnot: isAddFormVisible -->
    <button class="btn btn-info" data-bind="click: toggleFormVisibility">Add conspect</button>
    <!-- /ko -->
    <!-- ko if: isAddFormVisible -->
    <div class="well bs-component">
        <div data-bind="component: {name: 'fieldsets-form', params: getAddFormParams()}"></div>
    </div>
    <!-- /ko -->
</div>