<fieldset data-bind="with: viewModel">
    <div class="form-group">
        <label class="control-label col-md-2">Conspect name</label>
        <div class="col-md-10">
            <input class="form-control" type="text" data-bind="textInput: name" placeholder="Name">
        </div>
    </div>
</fieldset>