html, body {
    height: 100%;
}

.footer {
    height: 50px;
    box-sizing: border-box;
}

.footer.panel {
    margin-bottom: 0;
}

.content-wrapper {
    min-height: 100%;
    height: auto;
    margin: 0 auto -50px;
}

.content-wrapper:after {
    content: "";
    display: block;
    height: 50px;
}