.radio label span.radio-text {
    position: static;
    display: inline;
}

.question-item .question-item-text {
    margin-top: 1.5em;
}

.question-item .question-item-parameter {
    display: block;
    margin-top: 1.5em;
}