<div class="test-page">
    <h2 class="page-header">Record lecture for <span data-bind="text: conspect.name"></span></h2>

    <div class="well">
        <p>This page will use your micriphone. Please press 'Allow to use my microphone' for the application to work correctly.</p>
    </div>

    <!-- ko if: hasItems -->
    <h4>Current pieces</h4>

    <!-- ko foreach: conspect.pieces.items -->
    <div class="well">
        <p data-bind="text: content"></p>
        <button class="btn btn-info" data-bind="click: $parent.playPiece.bind($parent, $data)">Play</button>
        <button class="btn btn-danger" data-bind="click: $parent.removePiece.bind($parent, $data)">Delete</button>
    </div>
    <!-- /ko -->    
    
    <!-- /ko -->

    <!-- ko ifnot: isRecording -->
    <button class="btn btn-primary" data-bind="click: saveConspect.bind($data)">Save conspect and return</button>
    <button class="btn btn-info" data-bind="click: startListening.bind($data)">Start Recording</button>
    <!-- /ko -->

    <!-- ko if: isRecording -->
    <div class="well">
        <p data-bind="text: newPiece.content"></p>
    </div>
    <!-- /ko -->

    <!-- ko if: isRecording -->
    <button class="btn btn-default" data-bind="click: stopListening">Stop Recording</button>
    <!-- /ko -->
</div>