extends ./layouts/layout

block scripts
    script(type='application/json')#view-data.
        #{JSON.stringify(conspects)}

    script.
        require(['runners/conspectsRunner'], function(app) {
            app.start();
        });