extends ./layouts/layout

block scripts
    script(type='application/json')#view-data.
        #{JSON.stringify(conspect)}

    script.
        require(['runners/recordRunner'], function(app) {
            app.start();
        });