<div class="conspect-item panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title" data-bind="text: viewModel.name"></span>
    </div>
    <div class="panel-body">
        <button class="btn btn-info" data-bind="click: goToRecord.bind($data)">Record lecture</button>
        <button class="btn btn-danger" data-bind="click: deleteConspect.bind($data)">Delete conspect</button>
    </div>
</div>